<ion-header>
  <ion-toolbar>
    <ion-title>Editar Película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="movie.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Descripción</ion-label>
    <ion-input [(ngModel)]="movie.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">URL de la imagen</ion-label>
    <ion-input [(ngModel)]="movie.image"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="save()">Guardar cambios</ion-button>
</ion-content>
