<ion-header>
  <ion-toolbar>
    <ion-title>Películas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="goToDetail(movie)">
      <ion-thumbnail slot="start">
        <img [src]="movie.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.name }}</h2>
        <p>{{ movie.description }}</p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="deleteMovie(movie.id!); $event.stopPropagation()">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="addMovie()">
    Agregar película
  </ion-button>
</ion-content>
